.card {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 1rem;
}

.card:hover {
  transform: translateY(-7px);
}

.card__image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card__image-container img {
  width: 100%;
}

.card__content {
  background-color: seagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
