header {
  background-color: rgba(59, 130, 246);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

@media (min-width: 640px) {
  header {
    padding: 1.25rem;
  }
}
