.App {
  background-color: sandybrown;
  text-align: center;
  min-height: 100vh;
  max-width: 80rem;
  margin: auto;
  padding: 1rem;
}

@media (min-width: 640px) {
  .App {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .App {
    padding: 2rem;
  }
}
