.App {
  background-color: rgba(229, 231, 235, 1);
}

.app__wrapper {
  text-align: center;
  min-height: 100vh;
  max-width: 80rem;
  margin: auto;
  padding: 1rem;
}

@media (min-width: 640px) {
  .app__wrapper {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .app__wrapper {
    padding: 2rem;
  }
}
